* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: #f2f2f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('./assets/login-background.jpg');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

.blur-one {
  background-color: rgba(255, 255, 255, 0.15);
}

.drop-shadow-one {
  box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.5);
}

.svg-white-conversion {
  filter: invert(99%) sepia(93%) saturate(60%) hue-rotate(281deg)
    brightness(115%) contrast(90%);
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  padding-left: 3rem;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 235.5px;
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.592);
}

.login-container {
  width: 400px;
  height: 600px;
  border-radius: 1.25rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.welcome-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.username-input-container {
  position: relative;
  display: flex;
  margin-top: 5rem;
}

.login-user-icon {
  position: absolute;
  width: 30px;
  top: 8px;
  left: 10px;
}

.password-input-container {
  position: relative;
  display: flex;
  margin-top: 1rem;
}

.login-password-icon {
  position: absolute;
  width: 30px;
  top: 8px;
  left: 10px;
}

#sign-in-btn {
  background: linear-gradient(
    9deg,
    rgba(196, 196, 196, 0.6222864145658263) 0%,
    rgba(52, 118, 194, 0.5634628851540616) 39%,
    rgba(4, 27, 58, 0.8155637254901961) 100%
  );
  margin-top: 2rem;
  box-shadow: 5px 6px 9px rgba(0, 0, 0, 0.3);
  background-size: 200% auto;
  transition: 0.5s;
}

#sign-in-btn:hover {
  background-position: right center;
}

#sign-up-btn {
  margin-top: 1rem;
  background: none;
  border: solid grey 1px;
  color: grey;
  transition: 0.5s;
}

#sign-up-btn:hover {
  border: solid white 1px;
  color: white;
}

.extra-signin-options-text {
  margin-top: 2rem;
}

.alternate-sign-in-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.sign-in-item {
  width: 80px;
  height: 47.5px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #c6c4c4 2px;
}

.sign-in-item > img {
  width: 25px;
  filter: invert(87%) sepia(0%) saturate(1%) hue-rotate(272deg) brightness(94%)
    contrast(86%);
}

.microsoft:hover {
  filter: invert(45%) sepia(38%) saturate(3223%) hue-rotate(171deg)
    brightness(100%) contrast(102%);
}

.google:hover {
  filter: invert(47%) sepia(15%) saturate(2972%) hue-rotate(319deg)
    brightness(83%) contrast(113%);
}

.discord:hover {
  filter: invert(70%) sepia(74%) saturate(3859%) hue-rotate(201deg)
    brightness(92%) contrast(85%);
}
