*:focus {
  outline: none;
}

body {
  background: #f2f2f2;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url('./assets/login-background.jpg');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

.blur-one {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.drop-shadow-one {
  box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.5);
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.592);
}

.login-container {
  width: 400px;
  height: 600px;

  border-radius: 1.25rem;
  padding: 1.5rem;
}

.login-input-container {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.welcome-title {
  font-weight: bold;
  font-size: 1.5rem;
}
